.about-main {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1080px) {
    .about-main {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}