.article-back {
    font-size: 22px;
    margin-block-end: 0;
    display: inline-block;
    text-decoration: none;
    transition: opacity var(--brand-transition);
    opacity: .75;
}

.article-back:hover { opacity: 1; }

.article-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: flex-end;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#main h1 {
    text-indent: 0.25em;
    text-align: left;
    text-transform: none;
    line-height: normal;
    font-size: 48px;
    width: 75%;
    margin-block-start: 0;
    margin-block-end: 0;
}

#main h1::first-letter { background-image: linear-gradient(var(--link-gradient-1), var(--link-gradient-2)); }

.article-details h2 {
    font-size: 22px;
    text-align: right;
    font-weight: 300;
    line-height: normal;
    margin-block-start: .1em;
    margin-block-end: 0;
    white-space: nowrap;
}

.article-image-container {
    position: relative;
    display: flex;
    margin-block: .75em;
    transition: transform var(--brand-transition), opacity var(--brand-transition);
}

.article-image-container:hover {
    transform: scale(.96);
    opacity: .5;
}

.article-image-container img {
    width: 100%;
    object-fit: cover;
    user-select: all;
    aspect-ratio: 8/3;
    transition: aspect-ratio var(--brand-transition);
}

.article-image-container.image-red-gradient::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, transparent 25%, var(--link-gradient-2) 125%);
    z-index: 2;
    pointer-events: none;
    transition: opacity var(--brand-transition);
}

.article-image-container.image-red-gradient:hover::after { opacity: 0; }

.article-image-caption {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #0008;
    color: #fff;
    padding: 4px 8px;
    z-index: 3;
}

#main h3 {
    text-align: center;
    font-size: 36px;
    margin-block-start: .5em;
    margin-block-end: .3em;
}

#main p { text-indent: 1em; }

.bubble-caption {
    border-radius: 12px;
    background-color: #0007;
    padding: 12px 18px;
    animation: bubbleCaptionWarning 1s ease infinite;
    will-change: background-color;
}

@keyframes bubbleCaptionWarning {
    0% { background-color: #0007; }
    50% { background-color: #4008; }
    100% { background-color: #0007; }
}

.bubble-caption-text {
    color: white;
    font-size: 24px;
}

.kpszh-audio-grid {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    --audio-grid-gap: 20px;
    gap: var(--audio-grid-gap);
}

.kpszh-audio-container {
    border-radius: 12px;
    background: linear-gradient(-30deg, #f009 -100%, transparent 50%, transparent 75%, #f009 150%);
    background-color: #0008;
    background-clip: padding-box;
    padding: 12px 24px;
    width: calc(50% - var(--audio-grid-gap)/2);
    box-sizing: border-box;
    border: 4px solid #0008;
    transition: background-color var(--brand-transition), border var(--brand-transition);
}

.kpszh-audio-container:hover {
    background-color: #4006;
    border: 4px solid #800a;
}

.kpszh-audio-text {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.kpszh-audio-title {
    color: white;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

.kpszh-audio-subtitle {
    color: white;
    opacity: .5;
    font-size: 24px;
    font-weight: 300;
    user-select: none;
}

.kpszh-audio-container audio { width: 100%; }

@media only screen and (max-width: 1080px) {
    .article-header { flex-direction: column; }

    #main h1 {
        width: 100%;
        line-height: 1.1em;
    }

    .kpszh-audio-container { width: 100%; }
}

@media only screen and (max-width: 576px) {
    .article-image-container img { aspect-ratio: 4/3; }
}

@media (hover: none) and (pointer: coarse) {
    #main h1::first-letter { background-image: none; }
}