.article-main {
    max-width: 60%;
    margin: auto;
}

.article-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: flex-end;
}

.article-main h1 {
    text-indent: 0.25em;
    text-align: left;
    text-transform: none;
    line-height: 110%;
    font-size: 48px;
    width: 75%;
}

.article-main h1::first-letter {
    background-image: linear-gradient(var(--link-gradient-1), var(--link-gradient-2));
}

.article-details h2 {
    font-size: 22px;
    text-align: right;
    font-weight: 300;
}

.article-image-container {
  position: relative;
  display: flex;
}

.article-image-container img {
    width: 100%;
    object-fit: contain;
    margin-block: 0.5em;
    user-select: all;
}

.article-image-caption {
    position: absolute;
    bottom: 8px;
    right: 0px;
    background-color: #0008;
    color: #fff;
    padding: 4px 8px;
}

.article-main h3 {
    text-align: center;
    font-size: 36px;
    margin-block-start: 0.5em;
    margin-block-end: 0.3em;
}

.article-main h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    margin-block-start: 0em;
    margin-block-end: 0.75em;
    color: #fff8;
}

.article-main p {
    text-indent: 1em;
}