html, body, button:disabled { cursor: default; }

a, button, label, .cursor-hoverable { cursor: pointer; }

html.custom-cursor *,
html.custom-cursor audio::-webkit-media-controls-play-button,
html.custom-cursor audio::-webkit-media-controls-timeline,
html.custom-cursor audio::-webkit-media-controls-mute-button,
html.custom-cursor audio::-webkit-media-controls-volume-slider,
html.custom-cursor audio::-webkit-media-controls-fullscreen-button { cursor: none; }

#kpszh-cursor {
    position: fixed;
    opacity: 0;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 9999;
    width: 48px;
    will-change: transform;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
}

html.custom-cursor #kpszh-cursor { opacity: 1;}

#kpszh-cursor img {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-origin: center center;
    filter: hue-rotate(calc(var(--accent-hsl) * 1deg)) brightness(4);
    transition: transform var(--brand-transition), opacity var(--brand-transition);
    will-change: transform, opacity;
}

#kpszh-cursor.pointer img {
    transform: scale(.75);
    animation: hover .1s linear infinite alternate;
}

@keyframes hover {
    0% { opacity: 1; }
    100% { opacity: .25; }
}

@media (hover: none) and (pointer: coarse) {
    #kpszh-cursor { display: none; }
}