html, body, a, button { cursor: none; }

#kpszh-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    width: 48px;
    will-change: left, top;
}

#kpszh-cursor img {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-origin: center center;
    transition: transform var(--brand-transition), opacity var(--brand-transition);
    will-change: transform, opacity;
}

#kpszh-cursor.pointer img {
    transform: scale(.75);
    animation: hover .1s linear infinite alternate;
}

@keyframes hover {
    0% { opacity: 1; }
    100% { opacity: .5; }
}

@media (hover: none) and (pointer: coarse) {
    #kpszh-cursor { display: none; }
}