.index-main-section { display: flex; }

.index-latest-container {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 18px;
    font-weight: 400;
    max-width: 720px;
    margin-top: 2em;
    margin-bottom: 1em;
    z-index: 3;
}

.index-latest-header,
.index-latest-link,
.index-latest-details { transition: background-color var(--brand-transition); }

.index-latest-header,
.index-latest-link {
    background-color: #000;
    text-align: center;
    padding-block: .2em;
}

.index-latest-container:hover .index-latest-header,
.index-latest-container:hover .index-latest-link { background-color: #200; }

.index-latest-header {
    font-size: 22px;
    text-transform: uppercase;
}

.index-latest-details {
    display: flex;
    flex-direction: row;
    background: linear-gradient(-30deg, #f002 -50%, transparent 50%, #f002 100%);
    background-color: #0008;
}

.index-latest-container:hover .index-latest-details { background-color: #2008; }

.index-latest-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: .5em;
}

.index-latest-image {
    height: 175px;
    transition: transform var(--brand-transition), opacity var(--brand-transition);
    will-change: transform, opacity;
}

.index-latest-image:hover {
    transform: scale(.9);
    opacity: .5;
}

.index-latest-title { font-size: 28px; }

.index-latest-date { opacity: .65; }

.index-latest-excerpt {
    font-weight: 300;
    opacity: .65;
}

.index-latest-link { font-weight: 300; }

.index-latest-link a { text-decoration: none; }

.index-art {
    display: flex;
    position: absolute;
    pointer-events: none;
    right: 0;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 300px;
}

.index-art-title-bar {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.title-bar {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    pointer-events: none;
}

.title-bar.back { z-index: 1; }

.title-bar.front { z-index: 3; }

.index-art-character img {
    z-index: 2;
    position: absolute;
    pointer-events: none;
    max-width: 570px;
    width: 30vw;
    right: 0;
    margin-right: 5vw;
    animation-name: meAnim;
    animation-duration: 2s;
}

.index-empty-space { min-height: 360px; }

@keyframes meAnim {
    0% { transform: translateX(-400px); opacity: 0; }
    40% { transform: translateX(-400px); opacity: 0; }
    100% { transform: translateX(0px); opacity: 1; }
}

@media only screen and (max-width: 1080px) {
    .index-main-section { flex-direction: column-reverse; }

    .index-art-character img {
        right: auto;
        margin-right: auto;
        margin-left: auto;
    }
}