#main.index {
    max-width: 100%;
}

.index-main-section {
    display: flex;
}

.index-latest-container {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 18px;
    font-weight: 400;
    max-width: 720px;
    margin-top: 2em;
    padding-bottom: 1em;
}

.index-latest-header, .index-latest-link {
    background-color: #000;
    text-align: center;
    padding-block: .2em;
}

.index-latest-header {
    font-size: 22px;
    text-transform: uppercase;
}

.index-latest-details {
    display: flex;
    flex-direction: row;
    background-color: #0003;
}

.index-latest-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: .5em;
}

.index-latest-image {
    height: 125px;
    transition: all var(--brand-transition);
    will-change: transform, opacity;
}

.index-latest-image:hover {
    transform: scale(90%);
    opacity: 60%;
}

.index-latest-title {
    font-size: 28px;
}

.index-latest-date {
    opacity: 65%;
}

.index-latest-excerpt {
    font-weight: 300;
    opacity: 65%;
}

.index-latest-link {
    font-weight: 300;
}

.index-latest-link a {
    text-decoration: none;
}

.index-latest-mockup {
    display: flex;
    position: absolute;
    pointer-events: none;
    justify-content: center;
}

.index-latest-mockup img {
    width: 100%;
}

.index-art {
    display: flex;
    position: absolute;
    pointer-events: none;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 300px;
}

.index-art-title-bar {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.title-bar {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    pointer-events: none;
}

.me {
    position: fixed;
    pointer-events: none;
    right: 80px;
    animation-name: meAnim;
    animation-duration: 2s;
}

.index-empty-space {
    min-height: 640px;
}

@keyframes meAnim {
    0% { right: 400px; opacity: 0; }
    40% { right: 400px; opacity: 0; }
    100% { right: 80px; opacity: 1; }
}

@media only screen and (max-width: 1080px) {
    #main.merch { width: 100%; }

    .index-art-title-bar {
        width: max-content;
    }
}