.index-art {
    display: flex;
}

.title-bar {
    pointer-events: none;
    right: 0;
}
.me {
    pointer-events: none;
    animation-name: meAnim;
    animation-duration: 2s;
}
@keyframes meAnim {
    0% { right: 400px; opacity: 0; }
    40% { right: 400px; opacity: 0; }
    100% { right: 0px; opacity: 1; }
}