#main.merch {
    width: 1440px;
}

#main h2 {
    font-weight: 300;
    font-size: 24px;
    margin-block-start: .5em;
    margin-block-end: 2em;
}

.merch-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.merch-container {
    max-width: 330px;
    border-radius: 12px;
    background-color: #0004;
    text-decoration: none;
    padding: 4px;
    position: relative;
    transition: background-color .25s ease;
}

.merch-container:hover {
    background-color: #f004;
}

.merch-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.merch-title, .merch-price, .merch-take-a-look {
    color: white;
    text-align: left;
    text-transform: uppercase;
    line-height: normal;
    text-indent: 0.1em;
    margin-block-start: -.2em;
    margin-block-end: 0;
}

.merch-title {
    font-size: 26px;
    font-weight: 400;
}

.merch-price {
    font-size: 22px;
    opacity: 50%;
}

.merch-take-a-look {
    font-weight: 400;
    text-align: right;
    opacity: 75%;
    margin-block-end: .5em;
}

@media only screen and (max-width: 1080px) {
    #main.merch {
        width: 100%;
    }
}