#main.merch { max-width: 1440px; }

#main h2 {
    font-weight: 300;
    font-size: 24px;
    margin-block-start: .5em;
    margin-block-end: 2em;
}

.merch-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-block-start: 0em;
    margin-block-end: 3em;
}

@keyframes merchContainerSwipe { 
    0% { transform: translateY(50px); opacity: 0; }
    100% { transform: translateY(0px); opacity: 1; }
}

.merch-container {
    max-width: 330px;
    border-radius: 12px;
    background: linear-gradient(-30deg, #f009 -100%, transparent 50%, transparent 75%, #f009 150%);
    background-color: #0008;
    background-clip: padding-box;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    border: 4px solid #0008;
    opacity: 0;
    transition: background-color var(--brand-transition), border var(--brand-transition);
}

.merch-container.visible { animation: merchContainerSwipe 1s ease forwards; }

.merch-container:hover {
    background-color: #4006;
    border: 4px solid #800a;
}

.merch-container:nth-child(1) { animation-delay: 0s }
.merch-container:nth-child(2) { animation-delay: .25s }
.merch-container:nth-child(3) { animation-delay: .5s }
.merch-container:nth-child(4) { animation-delay: .75s }

.merch-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
    transition: transform var(--brand-transition);
    will-change: transform;
}

.merch-container:hover .merch-image { transform: scale(.95); }

.merch-info {
    padding-left: 4px;
    padding-right: 8px;
}

.merch-title,
.merch-price,
.merch-take-a-look {
    color: white;
    text-align: left;
    text-transform: uppercase;
    line-height: normal;
    text-indent: 0.1em;
    margin-block-start: -.2em;
    margin-block-end: 0;
}

.merch-title {
    font-size: 24px;
    font-weight: 400;
}

.merch-price-nodiscount {
    font-size: 14px;
    opacity: .75;
    text-decoration-line: line-through;
}

.merch-price {
    font-size: 22px;
    opacity: .5;
}

.merch-take-a-look {
    font-weight: 400;
    text-align: right;
    opacity: .75;
    margin-block: .5em;
}

@media only screen and (max-width: 1080px) {
    #main.merch { width: 100%; }
}

@media (hover: none) and (pointer: coarse) {
    .merch-container:nth-child(1),
    .merch-container:nth-child(2),
    .merch-container:nth-child(3),
    .merch-container:nth-child(4) { animation-delay: 0s }
}