#main.merch { width: 1440px; }

#main h2 {
    font-weight: 300;
    font-size: 24px;
    margin-block-start: .5em;
    margin-block-end: 2em;
}

.merch-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.merch-container {
    max-width: 330px;
    border-radius: 12px;
    background: linear-gradient(-30deg, #f009 -100%, transparent 50%, transparent 75%, #f009 150%);
    background-color: #0008;
    background-clip: padding-box;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    border: 4px solid #0008;
    transition: all var(--brand-transition);
}

.merch-container:hover {
    background-color: #4006;
    border: 4px solid #800a;
}

.merch-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
    transition: transform var(--brand-transition);
    will-change: transform;
}

.merch-container:hover .merch-image {
    transform: scale(95%);
}

.merch-info {
    padding-inline: 2px;
}

.merch-title, .merch-price, .merch-take-a-look {
    color: white;
    text-align: left;
    text-transform: uppercase;
    line-height: normal;
    text-indent: 0.1em;
    margin-block-start: -.2em;
    margin-block-end: 0;
}

.merch-title {
    font-size: 26px;
    font-weight: 400;
}

.merch-price {
    font-size: 22px;
    opacity: 50%;
}

.merch-take-a-look {
    font-weight: 400;
    text-align: right;
    opacity: 75%;
    margin-block-end: .5em;
}

@media only screen and (max-width: 1080px) {
    #main.merch { width: 100%; }
}