.product-back {
    font-size: 22px;
    margin-block-end: 0;
    display: inline-block;
    text-decoration: none;
    opacity: .75;
}

.product-back:hover { opacity: 1; }

.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin-block: 1em;
}

#main h1 {
    text-align: left;
    text-transform: none;
    line-height: normal;
    font-size: 48px;
    margin-block-start: 0;
    margin-block-end: 0;
}

#main h1::first-letter { background-image: linear-gradient(var(--link-gradient-1), var(--link-gradient-2)); }

.product-details h2 {
    font-size: 22px;
    text-align: right;
    font-weight: 300;
    line-height: normal;
    margin-block-start: .1em;
    margin-block-end: 0;
    white-space: nowrap;
}

.product-image-container {
    position: relative;
    display: flex;
    transition: transform var(--brand-transition), opacity var(--brand-transition);
}

.product-image-container:hover {
    transform: scale(.95);
    opacity: .5;
}

.product-image-container img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    user-select: all;
    border-radius: 12px 12px 0 12px;
    transition: aspect-ratio var(--brand-transition);
}

.product-image-container.image-red-gradient::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, transparent 25%, var(--link-gradient-2) 125%);
    border-radius: 12px 12px 0 12px;
    z-index: 2;
    pointer-events: none;
    transition: opacity var(--brand-transition);
}

.product-image-container.image-red-gradient:hover::after { opacity: 0; }

.product-image-caption {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #0008;
    color: #fff;
    padding: 4px 8px;
    z-index: 3;
    transition: opacity var(--brand-transition);
}

.product-image-container:hover .product-image-caption { opacity: 0; }

.product-info-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.product-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: flex-end;
}

.product-add-button {
    border-radius: 4px;
    background-color: #100;
    background-image: linear-gradient(325deg, transparent 40%, #fff8 50%, transparent 60%);
    background-size: 300% auto;
    padding: 12px 24px;
    width: 250px;
    border: 0;
    transform: translateZ(0);
    color: white;
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 20px;
    filter: drop-shadow(0 0 48px #f000);
    transition: all var(--brand-transition);
}

.product-add-button:hover {
    background-color: var(--link-gradient-1);
    background-position: right top;
    filter: drop-shadow(0 0 8px #f00);
}

.product-add-button:focus {
    background-color: var(--link-gradient-2);
    filter: drop-shadow(0 0 8px #f00);
}

#main h3 {
    text-align: center;
    font-size: 36px;
    margin-block-start: .5em;
    margin-block-end: .3em;
}

@media only screen and (max-width: 1080px) {
}

@media (hover: none) and (pointer: coarse) {
    #main h1::first-letter { background-image: none; }

    .product-image-container img { aspect-ratio: 1/1}
}