@font-face { font-family: AgencyFB; src: url(/fonts/AgencyFB.ttf); font-display: swap }
@font-face { font-family: Consolas; src: url(/fonts/Consolas.ttf); font-display: swap }
@font-face { font-family: FOTCarat; src: url(/fonts/FOTCaratStd.otf); font-display: swap }

#main.projects { max-width: 1440px; }

.album-panel {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 720px;
    border-radius: 12px;
    background-color: black;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
    background-clip: padding-box;
    box-sizing: border-box;
    border: 4px solid #0008;
    justify-content: space-between;
    max-height: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: background-image var(--brand-transition), border var(--brand-transition), max-height var(--brand-transition), opacity var(--brand-transition), transform var(--brand-transition);
}

.album-panel.active {
    max-height: 720px;
    opacity: 1;
    transform: translateY(0);
}

.album-panel:hover { border: 4px solid #8005; }

@keyframes albumPanelCover {
    0% { transform: translateY(-100px); opacity: 0; }
    25% { transform: translateY(-100px); opacity: 0; }
    75% { transform: translateY(0px); opacity: 1; }
}

.album-panel-cover {
    position: absolute;
    width: 150px;
    right: 20px;
    bottom: 20px;
    filter: drop-shadow(0 0 10px #0008);
    background-image: url(/img/covers/empty.webp);
    transition: transform var(--brand-transition), opacity var(--brand-transition);
    z-index: 1;
}

.album-panel.active .album-panel-cover {
    animation: albumPanelCover 2s ease;
}

.album-panel-cover:hover {
    transform: scale(.85);
    opacity: .5;
}

@keyframes albumPanelArt {
    0% { transform: translateX(-100px); opacity: 0; }
    25% { transform: translateX(-100px); opacity: 0; }
    75% { transform: translateX(0px); opacity: 1; }
}

.album-panel-art {
    pointer-events: none;
}

.album-panel.active .album-panel-art {
    animation: albumPanelArt 1s ease;
}

@keyframes albumPanelVideo {
    0% { opacity: 0; }
    25% { opacity: 0; }
    75% { opacity: 1; }
}

.album-panel-video {
    border-radius: 8px;
    mix-blend-mode: screen;
    position: absolute;
    pointer-events: none;
    object-fit: cover;
    transition: opacity var(--brand-transition);
    right: 0;
    bottom: 0;
}

.album-panel.active .album-panel-video {
    animation: albumPanelVideo 1s ease;
}

@keyframes albumPanelInfo {
    0% { transform: translateX(-100px); opacity: 0; }
    50% { transform: translateX(-100px); opacity: 0; }
    100% { transform: translateX(0px); opacity: 1; }
}

.album-panel-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.album-panel.active .album-panel-info {
    animation: albumPanelInfo 1s ease;
}

.album-panel ol {
    list-style: none;
    counter-reset: track;
    padding: 0;
    text-align: center;
    margin: 0;
}

.album-panel ol li { counter-increment: track; }

.album-panel ol li::before {
    content: counter(track) ".";
    display: inline-block;
    margin-right: 0.5ch;
}

.album-panel a {
    text-decoration: none;
}

.album-panel a:visited { -webkit-text-stroke-color: black }

.album-panel.mh h1,
.album-panel.mh h2,
.album-panel.mh h3,
.album-panel.mh ol {
    font-family: AgencyFB;
    font-weight: 600;
    transform: scale(1, 1.1);
    -webkit-text-stroke: 0.09em black;
    paint-order: stroke fill;
    margin: 6px auto;
    text-align: center;
    user-select: none;
}

.album-panel.mh h1 { font-size: 108px; }

.album-panel.mh h2 {
    font-size: 42px;
    font-weight: 500;
}

.album-panel.mh h3 {
    font-size: 34px;
    font-weight: 500;
    margin-block-start: .5em;
}

.album-panel.mh ol {
    font-size: 32px;
    font-weight: 500;
    margin-block-start: .5em;
}

.album-panel.mh ol span {
    color: #ccc;
    font-size: 0.85em;
}

.album-panel.mp h1,
.album-panel.mp h2,
.album-panel.mp h3 {
    font-family: Consolas;
    user-select: none;
    margin: 6px auto;
    text-align: center;
}

.album-panel.mp h1 {
    font-size: 128px;
    text-transform: none;
}

.album-panel.mp h2 { font-size: 64px; }

.album-panel.mp h3 {
    font-size: 32px;
    margin: 12px auto;
}

.album-panel.mp a:hover { color: #555; }

.album-panel.md h1,
.album-panel.md h2,
.album-panel.md h3,
.album-panel.md ol {
    font-family: FOTCarat;
    user-select: none;
    -webkit-text-stroke: 7px black;
    paint-order: stroke fill;
    margin: 6px auto;
    text-align: center;
}

.album-panel.md h1 {
    font-size: 81px;
    text-transform: none;
}

.album-panel.md h2 {
    font-size: 27px;
    margin-block-start: .8em;
}

.album-panel.md h3 {
    font-size: 25px;
    margin-block-start: 1em;
}

.album-panel.md ol {
    font-size: 22px;
    line-height: 1.6;
    margin-block-start: .5em;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-block-start: 0em;
    margin-block-end: 3em;
}

.album-container {
    border-radius: 12px;
    background: linear-gradient(-30deg, #f009 -100%, transparent 50%, transparent 75%, #f009 150%);
    background-color: #0008;
    background-clip: padding-box;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    border: 4px solid #0008;
    transition: background-color var(--brand-transition), border var(--brand-transition);
}

.album-container:hover {
    background-color: #4006;
    border: 4px solid #800a;
}

.album-container.selected {
    background-color: #4006;
    border: 4px solid #800c;
}

.album-image {
    max-height: 250px;
    border-radius: 8px 8px 0 0;
    transition: transform var(--brand-transition), opacity var(--brand-transition);
    will-change: transform, opacity;
}

.album-container:hover .album-image {
    transform: scale(.95);
    opacity: .5;
}

.album-container.selected .album-image {
    transform: scale(.85);
    opacity: .25;
}

.album-info {
    padding-left: 4px;
    padding-right: 8px;
    margin-block: .5em;
}

.album-title, .album-date {
    color: white;
    text-align: center;
    text-transform: uppercase;
    line-height: normal;
    text-indent: 0.1em;
    margin-block-start: -.3em;
    margin-block-end: 0;
    transition: opacity var(--brand-transition);
}

.album-title {
    font-size: 28px;
    font-weight: 400;
}

.album-date {
    font-size: 20px;
    opacity: .5;
}

.album-container.selected .album-title,
.album-container.selected .album-date {
    opacity: .25;
}

@media only screen and (max-width: 1080px) {
    #main.projects { width: 100%; }
}