:root {
    --marquee-background: #000;
    --marquee-background-hover: #200;
    --danganronpa: #FF2D81;
    --social-default-color: #100;
    --social-youtube: #FF0033;
    --social-spotify: #1ED760;
    --social-soundcloud: #FF5500;
    --social-bandcamp: #1DA0C3;
    --social-vk: #0077FF;
    --social-boosty: #F15F2C;
    --vst-default-background: #3F484D;
    --vst-default-outline: #2A3338;
    --vst-default-header: #D3D9DD;
    --vst-default-subheader: #8c9599;
    --link-gradient-1: #e00;
    --link-gradient-2: #900;
    --danganronpa-gradient-1: #fc0;
    --danganronpa-gradient-2: #c71;
    --social-icon-size: 80px;
    --social-icon-size-hover: 100px;
    --brand-transition: .25s ease;
}

@font-face { font-family: Oswald; src: url(/fonts/Oswald.ttf); font-display: swap; font-weight: 200 400; }
@font-face { font-family: FOTComet; src: url(/fonts/FOTCometStd.otf); font-display: swap; }

::selection {
    background-color: var(--link-gradient-2);
    color:white
}

img, br { user-select: none; }

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    font-family: Oswald;
    font-weight: 300;
}

body {
    margin: 0;
    background-image: url(/img/bg.webp);
}

b { font-weight: 400; }

h1, h2, h3, h4, h5, h6, p, ol { line-height: 100%; }

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: white;
    font-weight: 400;
}

h1 {
    font-size: 96px;
    margin-block-end: .2em;
    text-transform: uppercase;
    font-weight: 400;
}

h2 {
    font-size: 48.5px;
    margin-block-start: -.3em;
    font-weight: 300;
}

h2 span { font-weight: 400; }

p, ol {
    font-size: 22px;
    text-align: left;
    color: white;
    font-weight: 300;
    line-height: normal;
}

a {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    transition: color var(--brand-transition), text-underline-offset var(--brand-transition);
    will-change: color, text-underline-offset;
}

a:hover {
    color: var(--link-gradient-1);
    text-underline-offset: 10px;
}

a:active { color: var(--link-gradient-2); }

hr {
    border-color: #feea;
}

.nbsp { user-select: none; }

.kpszh-header {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.kpszh-header-content {
    padding: 50px 0 25px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.kpszh-header-logo,
.kpszh-header-menu {
    align-items: flex-start;
    display: flex;
    row-gap: 5px;
    column-gap: 10px;
}

.kpszh-header-logo img {
    width: 50px;
    animation: logoRotate 8s linear infinite;
    pointer-events: none;
}

@keyframes logoRotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.kpszh-header-logo a { text-decoration: none; }

.kpszh-header h1 {
    font-size: 46px;
    font-family: FOTComet;
    margin-block-start: 0;
    margin-block-end: 0;
    filter: none;
    transition: filter var(--brand-transition);
}

.kpszh-header h1:hover { filter: drop-shadow(0 0 10px #f00); }

.kpszh-header-menu a {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.kpszh-header-menu a.active { text-decoration: underline; }

.kpszh-header-dropdown {
    position: relative;
    display: inline-block;
}

.kpszh-header-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #200e;
    min-width: 100%;
    overflow: auto;
    z-index: 10;
    transition: background-color var(--brand-transition);
}

.kpszh-header-dropdown-content a {
    padding: 6px 8px;
    display: block;
    text-align: right;
}

.show { display: block; }

@keyframes animationFlicker {
    50% { opacity: 0; }
}

#main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#main-body {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow-wrap: break-word;
}

.kpszh-social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.kpszh-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--social-icon-size);
    height: var(--social-icon-size-hover);
    max-width: var(--social-icon-size-hover);
    max-height: var(--social-icon-size-hover);
    margin: auto 10px;
    transition: width var(--brand-transition), height var(--brand-transition);
    will-change: width, height;
    z-index: 5;
}

.kpszh-social-icon svg {
    transition: filter var(--brand-transition), transform var(--brand-transition);
    will-change: filter, transform;
    filter: drop-shadow(0 0 20px #f003);
    width: var(--social-icon-size);
}

.kpszh-social-icon:hover {
    width: var(--social-icon-size-hover);
    height: var(--social-icon-size-hover);
}

.kpszh-social-icon:hover svg {
    filter: none;
    transform: scale(1.25);
}

.kpszh-social-icon .youtube,
.kpszh-social-icon .spotify,
.kpszh-social-icon .soundcloud,
.kpszh-social-icon .bandcamp,
.kpszh-social-icon .vk,
.kpszh-social-icon .boosty {
    fill: var(--social-default-color);
    transition: fill var(--brand-transition);
    will-change: fill;
}

.kpszh-social-icon:hover .youtube { fill: var(--social-youtube) }

.kpszh-social-icon:hover .spotify { fill: var(--social-spotify) }

.kpszh-social-icon:hover .soundcloud { fill: var(--social-soundcloud) }

.kpszh-social-icon:hover .bandcamp { fill: var(--social-bandcamp) }

.kpszh-social-icon:hover .vk { fill: var(--social-vk) }

.kpszh-social-icon:hover .boosty { fill: var(--social-boosty) }

.kpszh-footer h6 {
    font-size: 20px;
    margin-block-start: 2em;
    margin-block-end: 1em;
    transition: font-size var(--brand-transition);
}

.kpszh-footer-image {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -100;
}

.flag {
    height: 0.8em;
    border-radius: 10%;
    pointer-events: none;
}

.kpszh-marquee {
    position: absolute;
    background-color: var(--marquee-background);
    overflow: hidden;
    user-select: none;
    --marquee-gap: 40px;
    display: flex;
    width: 100%;
    gap: var(--marquee-gap);
    animation: marqueeAppear 2s linear;
    transition: background-color var(--brand-transition);
    will-change: transform, background-color;
}

.kpszh-marquee-link:hover .kpszh-marquee { background-color: var(--marquee-background-hover); }

.kpszh-marquee ul {
    padding: 0;
    list-style: none;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--marquee-gap);
    animation: marqueeScroll 30s linear infinite;
    color: white;
    margin-block: 0.2em;
    font-weight: 400;
    font-size: 22px;
    transition: color var(--brand-transition);
    will-change: color;
}

.kpszh-marquee-link:hover .kpszh-marquee ul { color: #fffd; }

@keyframes marqueeAppear {
    0% { transform: translateY(-100%); }
    50% { transform: translateY(-100%); }
    75% { transform: translateY(0%); }
}

@keyframes marqueeScroll { 100% { transform: translateX(calc(-100% - var(--marquee-gap))); } }

.character-red { background-image: linear-gradient(var(--link-gradient-1), var(--link-gradient-2)); }

span.danganronpa {
    background-image: linear-gradient(var(--danganronpa-gradient-1), var(--danganronpa-gradient-2));
    color: transparent;
    background-clip: text;
    transition: color var(--brand-transition);
    will-change: color;
}

#image-viewer {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000d;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: imageViewerBackground 0.5s ease;
}

.modal-content {
    max-width: 90%;
    max-height: 80%;
    object-fit: contain;
    animation: imageViewerZoom 0.5s ease;
}

#image-viewer .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 80px;
    font-weight: 200;
    animation: imageViewerZoom 0.5s ease;
    transition: opacity var(--brand-transition);
}

@keyframes imageViewerZoom {
    0% { transform: scale(0); } 
    100% { transform: scale(1); }
}

@keyframes imageViewerBackground {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
#image-viewer .close:hover,
#image-viewer .close:focus { opacity: .5; }

audio::-webkit-media-controls-enclosure {
    background: transparent;
    filter: invert();
    border-radius: 0;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-fullscreen-button { cursor: none !important; }

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    font-family: Oswald;
    font-size: 18px;
    text-shadow: none;
}

@media only screen and (max-width: 1080px) {
    .kpszh-header { width: calc(100% - 32px); }

    .kpszh-header-content {
        padding: 50px 0 5px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .kpszh-header-logo {
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .kpszh-header-menu {
        justify-content: center;
        flex-wrap: wrap;
    }

    #main {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

	#main-body {
		padding-left: 16px;
		padding-right: 16px;
		overflow: hidden;
	}
}

@media only screen and (max-width: 640px) {
    :root {
        --social-icon-size: 60px;
        --social-icon-size-hover: 75px;
    }

    .kpszh-social-media { min-height: 50px; }

    .kpszh-social-icon { margin: auto 5px; }

    .kpszh-footer h6 {
        margin-block-start: 1em;
        margin-block-end: .5em;
    }
}

@media (hover: none) and (pointer: coarse) {
    :root {
        --social-default-color: #300;
        --social-icon-size: 40px;
        --social-icon-size-hover: 50px;
    }

    h1 { font-size: 72px; }

    h2 { font-size: 38px; }

    .kpszh-header h1:hover { filter: none; }

    .kpszh-social-icon svg { filter: none; }

    .character-red { background-image: none; }

    .kpszh-footer h6 { font-size: 16px; }
}