#main.tools { max-width: 1280px; }

#main.tools h2 span { filter: drop-shadow(3px 7px 7px #f00b) drop-shadow(-3px -7px 7px #f00b); }

#main.tools h3 {
    font-size: 48.5px;
    font-weight: 300;
    margin-block-end: .8em;
}

.daw-wrapper {
    position: relative;
    display: inline-block;
}

.daw-wrapper {
    left: 50%;
    transform: translate(-50%, 0%);
    max-width: 720px;
    height: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.daw-preview {
    filter: sepia(100%) hue-rotate(-47deg) saturate(500%) brightness(60%) drop-shadow(0px 0px 40px #ff5757a1);
    align-items: center;
    transition: filter var(--brand-transition);
    will-change: filter;
}

.daw-preview:hover { filter: sepia(0%) hue-rotate(0deg) saturate(100%) brightness(100%) drop-shadow(0 0 25px #ff575733); }

.daw-preview img, .daw-preview video {
    max-width: 720px;
    transition: max-width var(--brand-transition);
    will-change: max-width;
}

.daw-preview:hover img, .daw-preview:hover video { max-width: 800px; }

.daw-preview h1 {
    font-weight: 300;
    font-size: 22px;
    margin-block-start: .5em;
    margin-block-end: 0;
    opacity: 0;
    transition: opacity var(--brand-transition);
    will-change: opacity;
    text-transform: none;
}

.daw-preview:hover h1 { opacity: 1; }

.daw-preview a { font-weight: 400; }

.music-grid, .video-grid {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: flex-start;
    box-sizing: border-box;
    max-width: 1240px;
    perspective: 1500px;
    min-height: 920px;
}

.vst-wrapper, .graphics-wrapper {
    position: relative;
    display: flex;
}

.vst-preview {
    background: var(--vst-default-background);
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    margin: 25px 15px 0;
    align-self: center;
    outline: 1px solid var(--vst-default-outline);
    width: fit-content;
    filter: sepia(1.0) hue-rotate(-47deg) saturate(5.0) brightness(0.65);
    transform: translateZ(0);
    transition: filter var(--brand-transition), padding var(--brand-transition);
    will-change: filter, padding;
}

.vst-wrapper:hover .vst-preview {
    padding: 0px 3px 3px 3px;
    filter: sepia(0.0) hue-rotate(0deg) saturate(1.0) brightness(1.0) drop-shadow(0px 0px 25px #ff575733);
}

.vst-header {
    color: var(--vst-default-header);
    font-family: Verdana;
    font-size: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 4px;
    user-select: auto;
    transition: margin-top var(--brand-transition), margin-bottom var(--brand-transition), font-size var(--brand-transition);
    will-change: margin-top, margin-bottom, font-size;
}

.vst-wrapper:hover .vst-header {
    margin-top: 5px;
    margin-bottom: 6px;
    font-size: 11px;
}

.vst-preview span { color: var(--vst-default-subheader); }

.vst-preview img, .graphics-preview img {
    -webkit-user-drag: none;
    width: 360px;
    transition: width var(--brand-transition);
    will-change: width;
}

.vst-wrapper:hover img, .graphics-wrapper:hover img { width: 400px; }

#main.tools .logo {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.0);
    pointer-events: none;
    fill: white;
    opacity: 1;
    transition: transform var(--brand-transition), top var(--brand-transition), opacity var(--brand-transition);
    will-change: transform, top, opacity;
    filter: drop-shadow(0px 0px 20px rgb(255, 0, 0));
}

.daw-wrapper .logo { top: 45%; }

.graphics-wrapper .logo { top: 50%; }

.sample-packs-grid {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    max-width: 1080px;
    min-height: 380px;
}

.sample-pack img {
    width: 160px;
    filter: sepia(100%) hue-rotate(-47deg) saturate(500%) brightness(60%) drop-shadow(0px 0px 15px #ff575771);
    transition: filter var(--brand-transition), width var(--brand-transition);
    will-change: filter, width;
    -webkit-user-drag: none;
}
.sample-pack img:hover {
    width: 200px;
    filter: sepia(000%) hue-rotate(0deg) saturate(100%) brightness(100%);
}

.inspiration {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 280px;
}

.daw-wrapper:hover .logo, .vst-wrapper:hover .logo {
    transform: translate(-50%, -50%) scale(.5);
    top: 25%;
    opacity: 0;
}

.inspiration-artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    max-width: 200px;
    margin: 0 10px
}

.inspiration-artist-picture img {
    border-radius: 50%;
    width: 160px;
    filter: sepia(100%) hue-rotate(-47deg) saturate(500%) brightness(60%) drop-shadow(0px 0px 25px #ff575771);
    transition: width var(--brand-transition), filter var(--brand-transition);
    will-change: width, filter;
    -webkit-user-drag: none;
}

.inspiration-artist-picture img:hover {
    width: 200px;
    filter: sepia(000%) hue-rotate(0deg) saturate(100%) brightness(100%);
}

.inspiration h4 {
    font-size: 20px;
    text-align: center;
    margin-block-start: .75em;
}

#main.tools hr { width: 50%; }

.video-grid { min-height: 300px; }

.graphics-preview {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: fit-content;
    filter: sepia(100%) hue-rotate(-47deg) saturate(500%) brightness(75%);
    transition: filter var(--brand-transition);
    will-change: filter;
}

.graphics-wrapper:hover .graphics-preview { filter: sepia(0%) hue-rotate(0deg) saturate(100%) brightness(100%) drop-shadow(0px 0px 15px #ff575755); }

@media only screen and (max-width: 1080px) {
    #main.tools { width: 100%; }
}

@media (hover: none) and (pointer: coarse) {
    #main.tools h3 {
        font-size: 36px;
        margin-block-end: .3em;
    }
    
    .daw-preview { filter: sepia(0%) hue-rotate(0deg) saturate(100%) brightness(100%) drop-shadow(0 0 25px #ff575733); }
    
    .daw-preview h1 { opacity: 1; }
    
    .daw-preview:hover img, .daw-preview:hover video { max-width: 720px; }
    
    .vst-wrapper .vst-preview {
        padding: 0px 3px 3px 3px;
        filter: sepia(0.0) hue-rotate(0deg) saturate(1.0) brightness(1.0) drop-shadow(0px 0px 25px #ff575733);
    
    }
    .vst-wrapper .vst-header {
        margin-top: 5px;
        margin-bottom: 6px;
        font-size: 11px;
    }
}