@font-face {
    font-family: AgencyFB;
    src: url(fonts/AgencyFB.ttf);
}

@font-face {
    font-family: Consolas;
    src: url(fonts/Consolas.ttf);
}

@font-face {
    font-family: FOTCarat;
    src: url(fonts/FOTCaratStd.otf);
}

.projects-main {
    margin: auto;
}

/* Album */
.album {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    background-size: cover;
    background-position: right;
    box-shadow: inset 0px 0px 100px 0px black, inset 0px 0px 15px 0px black;
    filter: drop-shadow(0px 0px 80px black);
    padding-inline: 5%;
}

/* Album art */
.album-art {
    pointer-events: none;
}

/* Album text */
.album-data {
    display: flex;
    flex-direction: column;
}

/* "My Hallucination" */
#mh.album {
    background-image: url(img/projects/myhallucination_bg.png);
}

/* "My Hallucination" text */
#mh.album h1, #mh.album h2, #mh.album h3, #mh.album ol {
    font-family: AgencyFB;
    font-weight: 600;
    transform: scale(1, 1.1);
    user-select: none;
    -webkit-text-stroke: 0.09em black;
    paint-order: stroke fill;
    margin: 6px auto;
    text-align: center;
}

/* Album quote */
.album-data h4 {
    font-family: JostLight;
    font-size: 32px;
    font-style: italic;
    user-select: none;
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
    filter: drop-shadow(0px 0px 6px #000);
    z-index: 1000;
}

/* "My Hallucination" title */
#mh.album h1 {
    font-size: 133px;
}

/* "My Hallucination" subtitle */
#mh.album h2 {
    font-size: 53px;
    font-weight: 500;
}

/* "My Hallucination" tracklist title */
#mh.album h3 {
    font-size: 43px;
    font-weight: 500;
    margin-block-start: 0.5em;
}

/* "My Hallucination" tracklist */
#mh.album ol {
    margin-block-start: 0.5em;
    font-size: 32px;
    font-weight: 500;
}

/* "My Hallucination" tracklist spans */
#mh.album ol span {
    color: #ccc;
    font-size: 0.85em;
}

/* "My Pain" */
#mp.album {
    background-image: url(img/projects/mypain_bg.png);
    min-height: 400px;
}

/* "My Pain" text */
#mp.album h1, #mp.album h2, #mp.album h3 {
    font-family: Consolas;
    user-select: none;
    margin: 6px auto;
}

/* "My Pain" title */
#mp.album h1 {
    font-size: 128px;
    text-transform: none;
}

/* "My Pain" subtitle */
#mp.album h2 {
    font-size: 64px;
}

/* "My Pain" links */
#mp.album h3 {
    font-size: 32px;
    margin: 12px auto;
}

#mp.album a:hover {
    color: #555;
}

/* "My Despair" */
#md.album {
    background-image: url(img/projects/mydespair_bg.png);
    flex-direction: row-reverse;
}

/* "My Despair" text */
#md.album h1,
#md.album h2,
#md.album h3,
#md.album ol {
    font-family: FOTCarat;
    user-select: none;
    -webkit-text-stroke: 8px black;
    paint-order: stroke fill;
    margin: 6px auto;
}

/* "My Despair" title */
#md.album h1 {
    font-size: 107px;
    text-transform: none;
}

/* "My Despair" subtitle */
#md.album h2 {
    font-size: 36px;
    margin-block-start: 28px;
}

/* "My Despair" tracklist title */
#md.album h3 {
    font-size: 32px;
    margin-block-start: 1.0em;
}

/* "My Despair" tracklist */
#md.album ol {
    margin-block-start: 0.5em;
    font-size: 24px;
    line-height: 1.6em
}

.album ol {
    list-style: none;
    counter-reset: track;
    padding: 0;
    text-align: center;
}

.album ol li {
    counter-increment: track;
}

.album ol li::before {
    content: counter(track) ".";
    display: inline-block;
    margin-right: 0.5ch;
}

/* чёрная маска поверх фона — будет постепенно исчезать */
.album::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,1);
    z-index: 1;
    opacity: calc(1 - var(--scroll-progress));
    will-change: opacity;
}

/* контент .album должен быть над маской */
.album > * {
  position: relative;
  z-index: 2;
}

/* "My Hallucination" art animation */
#mh.album-art {
    --scroll-progress: 0;
    transform: translateX(calc((1 - var(--scroll-progress)) * 100%));
    opacity: calc(var(--scroll-progress));
    will-change: transform, opacity;
}

/* "My Despair" art animation */
#md.album-art {
    --scroll-progress: 0;
    transform: translateX(calc((var(--scroll-progress) - 1) * 100%));
    opacity: calc(var(--scroll-progress));
    will-change: transform, opacity;
}

/* "My Hallucination" text animation */
#mh.album-data {
    --scroll-progress: 0;
    transform: translateX(calc((var(--scroll-progress) - 1) * 100%));
    will-change: transform;
}

/* "My Despair" text animation */
#md.album-data {
    --scroll-progress: 0;
    transform: translateX(calc((1 - var(--scroll-progress)) * 100%));
    will-change: transform;
}

/* quote and tracklist - animation */
.album-data h4, .album-data h3, .album-data ol {
    opacity: calc(var(--scroll-progress));
    will-change: opacity;
}

@media (prefers-reduced-motion: reduce) {
    .album-art, .album-data { transform: translateX(0); opacity: 1; }
}