:root {
    --social-youtube: #FF0033;
    --social-spotify: #1ED760;
    --social-soundcloud: #FF5500;
    --social-bandcamp: #1DA0C3;
    --social-vk: #0077FF;
    --social-boosty: #F15F2C;
    --vst-default-background: #3F484D;
    --vst-default-outline: #2A3338;
    --vst-default-header: #D3D9DD;
    --vst-default-subheader: #8c9599
}
::-webkit-scrollbar {
    display: none
}
::selection {
    background-color:#B50000;
    color:white
}
img, br, .overlay {
    user-select: none
}
html {
    scroll-behavior: smooth
}
body {
    margin: 0;
    background-image: url("./img/bg.png")
}

@font-face {
    font-family: JostLight;
    src: url(fonts/JostLight.otf)
}
@font-face {
    font-family: JostBold;
    src: url(fonts/JostBold.otf)
}
@font-face {
    font-family: FOTComet;
    src:url(fonts/FOTCometStd.otf)
}

h1, h2, h3, h4, h5, h6, p, ol {
    cursor: default;
    line-height: 100%
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: white;
    font-family: JostBold;
    font-weight: normal
}
h1 {
    font-size: 96px;
    margin-block-end: 20px;
    text-transform: uppercase;
}
h2 {
    font-size: 48.5px;
    margin-block-start: -20px;
    font-family: JostLight;
}
h2 span {
    font-family: JostBold;
}
p, ol {
    font-size: 22px;
    text-align: left;
    color: white;
    font-family: JostLight;
    line-height: normal
}
a {
    transition: all .3s ease;
    background-color: transparent;
    text-decoration-thickness: 1px;
    text-underline-offset: 8px;
    color: white;
    text-decoration: none
}
a:hover {
    color: red
}
a:active {
    color: #600
}
.kpszh-header {
    width: 80%;
    margin: auto
}
.kpszh-header-content {
    padding: 50px 0 25px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    user-select: none
}
.kpszh-header-logo, .kpszh-header-menu {
    align-items: center;
    display: flex;
    gap: 10px
}
.kpszh-header-logo-svg {
    width: 50px
}
.kpszh-header-logo a {
    text-decoration: none
}
.kpszh-header h1 {
    font-size: 46px;
    font-family: FOTComet;
    margin-block-start: 0;
    margin-block-end: 0;
    cursor: pointer;
    filter: none;
    transition: all .3s ease
}
.kpszh-header h1:hover {
    filter: drop-shadow(0 0 10px #f00)
}
.kpszh-header-menu a {
    font-size: 24px;
    font-family: JostLight;
    text-decoration: none;
    text-transform: uppercase;
}
.kpszh-header-menu a.active {
    font-family: JostBold;
    text-decoration: underline
}
.kpszh-header-menu .time {
    margin-left: 20px;
    padding-inline: 10px;
    color: white;
    font-size: 20px;
    font-family: JostBold;
    outline: 1px solid white;
}
.kpszh-header-menu span {
    animation: time-divider 1s step-end infinite;
}
@keyframes time-divider {
  50% {
    opacity: 0;
  }
}

.kpszh-header-langauage {
    display: none;
    position: absolute;
}

.kpszh-header-langauage-dropdown:hover .kpszh-header-langauage {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
    text-align: right;
    background-color: #1ED76066;
}

.kpszh-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px
}
.kpszh-social-icon {
    display: flex;
    width: auto;
    max-width: 100px;
    margin: 0 10px
}
.kpszh-social-icon svg {
    transition: all .3s ease;
    filter: drop-shadow(0 0 20px #ff000030);
    width: 80px
}
.kpszh-social-icon:hover svg {
    filter: drop-shadow(0 0 5px #f00a);
    width: 100px
}
.kpszh-social-icon .youtube,
.kpszh-social-icon .spotify,
.kpszh-social-icon .soundcloud,
.kpszh-social-icon .bandcamp,
.kpszh-social-icon .vk,
.kpszh-social-icon .boosty {
    fill:black;
    transition:all .3s ease;
}
.kpszh-social-icon:hover .youtube { fill: var(--social-youtube) }
.kpszh-social-icon:hover .spotify { fill: var(--social-spotify) }
.kpszh-social-icon:hover .soundcloud { fill: var(--social-soundcloud) }
.kpszh-social-icon:hover .bandcamp { fill: var(--social-bandcamp) }
.kpszh-social-icon:hover .vk { fill: var(--social-vk) }
.kpszh-social-icon:hover .boosty { fill: var(--social-boosty) }
.kpszh-footer h6 {
    font-size: 20px;
    font-family: JostLight;
    margin-block-start: 2em;
    margin-block-end: 1em
}
.overlay {
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    object-fit: cover;
    mix-blend-mode: screen
}
.spoiler {
    background-color: #FC00A8;
    color: #FC00A8;
}
.spoiler::selection {
    background-color: #B50000;
    color: #B50000
}
.spoiler:hover {
    background-color: transparent;
    color: white
}
.spoiler:hover::selection {
    background-color: #B50000;
    color: white
}

@keyframes scroll_watcher {
    to { scale: 1 1; }
}

.scroll-watcher {
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: lime;
    width: 100%;
    scale: 0 1;
    animation: scroll_watcher linear;
    animation-timeline: scroll();
    transform-origin: left;
}